.top-nav {
    display: flex;
    justify-content: space-between;
    
    padding: 10px 0;
    margin-bottom: -21px;
  }
  
   .top-nav .column {
    flex-basis: 9%;
    text-align: center;
  }

  .top-nav .column .navbar {
    margin-top: -1rem;
  }
  
  .top-nav .column img {
    height: 98px;
    width: 98px;
  }

  .top-nav .column .social_icon {
    font-size: 16px;
  }
  
  .top-nav .column .social_icon:hover {
    cursor: pointer;
  }
   
.search_icon {
  background: none;
  border: none;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  font-weight: lighter;
  padding: 0;
}
.search_icon:hover {
  color: #60d1e2;
  cursor: pointer;
}

.dropbtn {
border: none;
background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
}


.dropto {
  position: absolute;
  left: -160px;
  border-bottom-width: 100%;
}


.dropdown-content a {
  color: #000;
  padding: 0.5rem 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
  text-align: start;
  font-size: 14px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


svg {
  font-size: 20px;
  cursor: pointer;
}


.cart_icon {
  position: relative;
}
 span .cart-icon {
  min-width: 20px;
  text-align: center;
  background: crimson;
  color: #fff;
  padding: 2.5px;
  position: absolute;
  top: -31px;
  right: -7px;
  font-size: 12px;
  line-height: 1;
  border-radius: 10px;
}

.navbar {
 --mdb-navbar-box-shadow: 0 !important;
  --mdb-navbar-padding-top: 0 !important;

}

.dropdown-toggle:after { 
  display: none;
}

/* .navbar-expand-lg .navbar-nav .nav-link {
  color: #000 !important;
} */

.dropdown-content a {
  color: #000;

}

.navbar-toggler-icon {
  background-image: none;
}

.top-nav .column .desk {
  display: none;
}
@media only screen and (max-width: 600px) {
  .top-nav .column .social_icon {
    display: none;
  }
  .top-nav .column .mob_icon {
    display: none;
  }
  .top-nav .column .navbar {
    display: none;
  }
  .top-nav .column .desk {
    display: block;
    margin-top: -1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .top-nav .column .social_icon {
    display: none;
  }
  .top-nav .column .mob_icon {
    display: none;
  }
  .top-nav .column .desk {
    display: block;
    margin-top: -1.5rem;

  }
}

@media only screen and (max-width: 900px) {
  .navbar .container_nav {
    display: none;
  }
}